/*iframe[title~="stackle"i] {
    width: 1920px !important;
    height: 1020px !important;
}*/

#content .stackle_integration {
    height: auto !important;
}

.ui-dialog,
.ui-dialog.stackle_modal {
    position: fixed;
    width: 95%;
    max-width: 1920px;
    height: 90vh;
    min-height: 800px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.ui-dialogue.stackle_modal {
    width: 100%;
}