/*iframe[title~="stackle"i] {
    width: 1920px !important;
    height: 1020px !important;
}*/

#content .stackle_integration {
    height: auto !important;
}

body div.stackle_module {
    outline: 0px !important;
    z-index: 99999 !important;
    position: fixed !important;
    height: 95vh !important;
    max-height: 1020px !important;
    width: 95% !important;
    max-width: 1920px !important;
    top: 50% !important;
    left: 50% !important;
    transform: translate(-50%, -50%) !important;
}

body div.stackle_module #resource_selection_dialog iframe {
    width: 100% !important;
    height: 95vh !important;
    max-height: 1020px !important;
    min-height: 800px;
}
.stackle_module #resource_selection_dialog {
	height: 95vh !important;
}
